{% extends 'StudentZone/StudentMaster.html' %}
{% block contentarea %}
    <div class="col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2>Change Password</h2>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
        Enter Old Password
        <input type="password" name="txtoldpass" class="form-control">
        Enter New Password
        <input type="password" name="txtnewpass" class="form-control">
        Enter Confirm Password
        <input type="password" name="txtcpass" class="form-control">
        <br>
        <input type="submit" class="btn btn-success" value="Change Password">
            </form>
        <br>
        <h3>{{ Msg }}</h3>
    </div>
    <div class="col-sm-4"></div>
    </div>
{% endblock %}