
#title
{
    font-size: 28px;
    color:white;
    font-weight: bold;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    word-spacing: 5px;
margin-top: 1.2%;
}
#time
{
    color:white;
    font-size: 16px;
}

